:root {
    --nc-table-row-tint: rgba(255, 255, 255, 0.03);
}

:root[data-theme="light"] {
    --nc-table-row-tint: rgba(0, 0, 0, 0.05);
}

.sl-markdown-content {
    table {
        min-width: 100%;
        display: table;
        vertical-align: middle !important;
        border: 1px solid var(--sl-color-hairline);
        font-size: 0.875rem;
        line-height: 1.25rem;
        overflow-wrap: break-word;

        code { 
            // Inline code blocks override the text wrapping
            // behavior, in tables it looks ugly
            overflow-wrap: break-word !important;
        }

        th {
            // Column Header
            background-color: var(--sl-color-gray-6);
            font-weight: bold;
        }

        tr {
            // Row
            margin-top: 0 !important;

            &:nth-of-type(odd) {
                // Add slight highlight on alternating rows
                background-color: var(--nc-table-row-tint);
            }
        }
    }

    th,
    td {
        display: table-cell;
        padding: 0.75rem !important;
        margin-top: 0 !important;
        border-bottom: none;
        max-width: 20rem;
        vertical-align: middle;
    }

    thead {
        // Table header
        font-weight: bold;
    }
}
